/* index <header> */

header {
  display: flex;
  height: 90vh;
  overflow: hidden;
  
}

.headerContent {

  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-backgroundRosa);
  padding: 20px;
  z-index: 99;

}
.headerContent h1 {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 100px;
  font-family: var(--fonte);
  color: var(--cor-roxoClaro);
  font-weight: 900;
}
.headerContent p{

  font-size: 60px;
  font-family: var(--fonte);
  color: var(--cor-roxoClaro);
  font-weight:bolder;
  margin-top: 50px;
 
  text-align: center;
  line-height: 10px;
}

.headerContent span {

line-height: 60px;
font-family: var(--fonte);
font-weight: bolder;
font-size: 60px;
text-align: center;
margin-top: 22px;
color: var(--cor-rosa);
margin-bottom: 30px;
 
}

.headerImage {
  width: 50%;
  background-color: var(--cor-backgroundRoxo);
  position: relative;
  
 

}

.headerImage img{
  
   width: 20vw;
   left: 7%;
   top: 15%;
   
}

.headerImage .braco {

  position:absolute;
  width: 50vh;
  top: -1vh;
  left: 0vw;
  animation: braco 3.0s linear infinite;
 overflow: hidden;


}
.braco img {
  animation: braco 5.0s infinite linear ;
  ;
}

@keyframes braco {
  0% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(6deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.headerImage .mulher {
  position: relative;
  width: 50vh;
  top: 25%;
  left: 24.7vw;
  z-index: 99;
  

}
.mulher img {

  animation: mulher 12.0s linear infinite;
}
@keyframes mulher {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.02);
   
  }
  100% {
    transform: scale(1);
    
  }
}

/*Botão*/

/* From uiverse.io by @mrhyddenn */
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #fb81a6;
  font-size: 14px;
  font-family: var(--fonte) !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #df3661;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: #fad3d9;
  box-shadow: 0 0 30px 5px #fb81a6;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
aside {
  display: none;
}
.headerImage p {
  display: none;
}
/* Responsivo */

@media screen and (max-width: 1200px) {
  body {
    overflow: hidden;
  }
  .headerContent h1 {

    font-size: 60px;

  }
  .headerContent p  {

    font-size: 50px;

  }

 .headerContent span {
    font-size: 37px;
  }
  
}

@media (max-width:1280px) {

  .headerImage .mulher {
    position: relative;
    width: 40vh;
    top: 35%;
    left: 11.7vw;
    z-index: 99;
    
  
  }

  .headerImage .braco {

    position:absolute;
    width: 35vh;
    top: 1vh;
    left: -2vw;
    animation: braco 3.0s linear infinite;
   overflow: hidden;
  
  
  }
}






@media (max-width:900px) {

  header {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
    
  }
  
  .headerContent {

    width: 100%;
    height: 50vh;
    
  }
  .headerContent h1 {

    font-size: 80px;
  }

  
  .headerImage {

    width: 100%;
    height: 50vh;
  }

  .headerImage .braco {

    position:absolute;
    width: 50vw;
    top: 0vh;
    left: -2vw;
    animation: braco 3.0s linear infinite;
    overflow: hidden;
  
  }
  
  .headerImage .mulher {
    position: relative;
    width: 15vh;
    top: 51%;
    left: 77.9vw;
    z-index: 99;
    
  
  }
  .headerImage p {
    display: block;
    font-size: 30px;
    font-family: 'logo';
    color: var(--cor-rosa);
    line-height: 100px;
    position: absolute;
    top: 0%;
    left: 36%;
  }
  
  
  
  
  @media (max-width:600px) {

    .headerImage p {
      display: block;
      font-size: 35px;
      font-family: 'logo';
      color: var(--cor-rosa);
      line-height: 75px;
      position: absolute;
      top: 10%;
      left: 24%;
    }
  }

  .headerImage .braco {

    position:absolute;
    width: 22vh;
    top: 0vh;
    left: -2vw;
    animation: braco 3.0s linear infinite;
    overflow: hidden;
  
  }
  
  .headerContent h1 {
    margin-top: 0px;
    font-size: 60px;
    margin-bottom: -30px;
  }

  .headerContent p {

    font-size: 40px;
   
  }
  .headerContent span {
    font-size: 30px;
    margin-top: 10px;
  }
  
  
  @media (max-width:480px) {

    .headerContent h1 {

      font-size: 50px;
      margin-bottom: -20px;
    }

    .headerContent p {

      font-size: 30px;
     
    }
    .headerContent span {

      font-size: 20px;
      margin-bottom: 0px;
      
    }


    .headerImage .mulher {
      position: relative;
      width: 12vh;
      top: 61%;
      left: 70.9vw;
      z-index: 99;
      
    
    }
    .headerImage p {
      display: block;
      font-size: 25px;
      font-family: 'logo';
      color: var(--cor-rosa);
      line-height: 50px;
      position: absolute;
      top: 20%;
      left: 28%;
    }

  }
  
  
  
  
  
  
  
  
  nav ul li{

    display: none;
  }


}