main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fb81a6;
  background-image: linear-gradient(
    148deg,
    #fb81a6 0%,
    #df3661 46%,
    #a72d4f 100%
  );
}

.tituloMain {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.tituloMain h1 {
  font-size: 45px;
  font-family: "logo";
  color: var(--cor-branco);
  text-align: center;
  line-height: 80px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  height: 100%;
  gap: 30px;
}

.cards {
  width: 250px;
  height: 300px;
  position: relative;
}

.cards img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.3s all;
}

.cards:hover img {
  transform: scale(1.01);
}
.info {
  height: 100vh;
}
.infoTitle h2 {
  font-size: 45px;
  padding: 80px;
  font-family: "logo";
  color: var(--cor-branco);
  text-align: center;
  line-height: 80px;
}
.botao2 {
  color: #fff;
  margin-left: 10px;
}
.infoTitle {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  line-height: 85px;
}
.infoTitle h3 {
  font-size: 30px;
  font-family: "logo";
}
.infoTitle p {
  font-size: 30px;
  font-family: var(--fonte);
  background-color: #df3661;
  width: 99.6vw;
  text-align: center;
}
.faleConosco {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 30px;
}

.blocosInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.bloco {
  width: 250px;
  height: 250px;
  padding: 30px;
  box-shadow: 0px 0px 2px 1px #fa5183;
  color: #fff;
  font-family: "Montserrat";
  background-color: #df3661;
}
.bloco h4 {
  margin-bottom: 30px;
  font-size: 20px;
}
.botaon3 {
  margin-top: 45px;
  text-align: center;
}
.sobreMim {
  display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
}

.imageEu {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.sobreEu {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.imageEu img {
  max-width: 100%;
  height: 100%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.sobreEu h5 {
  font-family: "logo";
  color: #fff;
  font-size: 25px;
  margin-bottom: 60px;
  background-color: #df3661;
  box-shadow: 2px 2px 4px 0 #df3661;
  line-height: 60px;
  border-radius: 20px;
  padding: 39px 20px;
}
.sobreEu p {
  color: #fff;
  font-size: 20px;
  padding-right: 45px;
  font-family: var(--fonte);
}
.botao2 {
  position: relative;
}
.botao3 {
  color: #fff;
}

@media (max-width: 1350px) {
  .sobreMim {
    max-width: 800px;
  }
  .sobreEu h5 {
    padding: 30px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .bloco {
    width: 80%;
  }
  .infoTitle {
    padding: 0px;
    line-height: 50px;
  }
  .infoTitle h3 {
    margin-bottom: 30px;
    text-align: center;
  }
  .infoTitle p {
    font-size: 20px;
    padding: 20px;
  }
  .cards {
    width: 80%;
  }
  .sobreMim {
    margin-top: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imageEu {
    width: 50vw;
    margin-bottom: 10px;
  }
  .imageEu img {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sobreEu {
    width: 100%;
  }
  .sobreEu h5 {
    font-family: "logo";
    color: #fff;
    font-size: 17px;
    margin-top: 20vh;
    margin-bottom: 60px;
    background-color: #df3661;
    height: 16vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
  }
  .sobreEu p {
    color: #fff;
    font-size: 20px;
    font-family: var(--fonte);
    padding: 30px;
    padding-bottom: 100px;
  }
  .sobreMim {
    padding-top: 60vh;
    padding-bottom: 60vh;
  }
}

@media (max-width: 500px) {
  .tituloMain h1 {
    text-align: center;
    font-size: 25px;
    line-height: 60px;
  }
  .infoTitle h2 {
    padding: 0px;
    padding-top: 80px;
    font-size: 20px;
    line-height: 50px;
  }
  .infoTitle h3 {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .sobreMim {
    padding-top: 107vh;
    padding-bottom: 60vh;
  }
}
