/* index <nav> */

nav {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  
}

nav ul {

  display: flex;
  gap: 30px;
  color: #FFF;
}

nav ul li {

  color: var(--cor-rosa);
  list-style: none;
  font-family: 'Montserrat';
}
nav a li:hover {

  color:#a72d4f;
  
  
}
.logo a {

  font-size: 21px;
  font-family: 'logo';
  color: var(--cor-rosa);
}



/* Responsivo */

@media screen and (max-width: 1000px) {
}
