aside {
  display: none;
}
.termosServico {
  text-align: center;
  font-family: "Montserrat";
}

.termosServico h1 {
  font-size: 50px;
  color: var(--cor-backgroundRosa);
  font-family: "logo";
  margin-top: 70px;
  margin-bottom: 60px;
}
.termosServico p {
  font-size: 20px;
  font-family: "Montserrat";
}

@media (max-width: 1000px) {
  .termosServico {
    padding: 100px;
  }
}

@media (max-width: 500px) {
  .termosServico h1 {
    font-size: 20px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .logo {
    margin-left: 25px;
  }

  .termosServico p {
    padding: 0px;
    font-size: 13px;
  }
}
